@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
}

#title,
#score {
    margin: 1% 5%;
}

#title {
    font-family: 'Sacramento', cursive;
    font-size: 5vh;
    transform: rotateZ(344deg);
}

#playground {
    width: 40%;
    background-color: white;
    border: 10px solid #f7347a;
    position: relative;
    box-sizing: content-box;
}

#playground::before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#playground:focus-visible {
    outline: none;
}

.snakeDot {
    position: absolute;
    width: 4%;
    height: 4%;
    background: black;
    border: 1px solid white;
    z-index: 2;
    box-sizing: border-box;
}

.food {
    position: absolute;
    width: 4%;
    height: 4%;
    background: red;
    z-index: 1;
    box-sizing: border-box;
    border: 1px solid white;
}

.MuiPaper-root {
    background-color: #ffbf00 !important;
    border: #f7347a solid 5px;
}

.MuiTypography-root {
    font-weight: bold !important;
    font-size: 34px !important;
    text-align: center;
}